.border{
    border:2px solid red;
}
.flex{
    display:flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color:white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: rgb(26, 25, 25);
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin:5px;
}
.p-1{
    padding:10px;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
    background: #2f2f2f; /* Dark background color for the track */
}

::-webkit-scrollbar-thumb {
    background-color: #555; /* Darker color for the thumb */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid #2f2f2f; /* Space around the thumb */
}

/* For Firefox */
html {
    scrollbar-color: #555 #2f2f2f; /* thumb color, track color */
    scrollbar-width: thin; /* auto, thin, or none */
}